################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EFGerador/EF/bin/Debug
/EFGerador/EF/obj/Debug
/EFGerador/packages
/EFGerador/EF/Mapeamentos
/EFGerador/EF/Entidades
/EFGerador/EF/Contexto
